ion-content {
  background: linear-gradient(to bottom, #FDEDD7, #ffffff);
}
h2 {
  color: #3B6609;
  text-align: center;
}
p {
 color: #3B6609;
 text-align: justify;
}
img {
  height: auto;
  width: auto;
  margin: auto;
  display: block;
}